doctype html
html
	head
		title #{title}
		include ./importscss.pug
	body.grey.lighten-4
		include ./nav.pug
		div.container(style='margin-top:25px;')

			div.row
				div.col.s12.m5.offset-m3
					div.card.z-depth-4
						div.card-image
							img(src="http://kb4images.com/images/office-wallpaper/37363423-office-wallpaper.jpg")
							span.card-title.teal-text Bienvenido, Iniciar Sesión
						form(action="/login_process" , method="post")
							div.card-content
								div.row
									div.row
										div.input-field.col.s11
											i.material-icons.prefix account_circle
											input.validate#icon_user(type="text",name="txtUser")
											label#icon_user Usuario

									div.row
										div.input-field.col.s11
											i.material-icons.prefix fingerprint
											input.validate#icon_password(type="password",name="txtPass")
											label#icon_password Password

										
							div.card-action.center
								button.btn.waves-effect.waves-light.btn-large Iniciar
									i.material-icons.right vpn_key
			
		include ./importsjs.pug

		if(mensaje)
			script Materialize.toast('#{mensaje}', 3000, 'rounded')




