nav
	div.nav-wrapper.teal
		a.brand-logo(href="/")
			img(width = "50px",height = "50px",src="/img/brand.svg",style="margin:6px")
		a.button-collapse(href="#", data-activates="mobil-demo")
			i.material-icons menu
		ul.right.hide-on-med-and-down#nav-mobile
			li
				a(href="/") Inicio

			if(!usuario)
				li
					a(href="/login") Iniciar Sesión 

			if(usuario)
				li
					a(href="/logout") Salir

		ul.side-nav#mobil-demo
			li
				a(href="/") Inicio

			if(!usuario)
				li
					a(href="/login") Iniciar Sesión 

			if(usuario)
				li
					a(href="/logout") Salir
